<div id="game-container" flex-align="center" flex-container="column" flex-align="center">
    <div flex-item-align="center" flex-container="row" class="mt+++">
        <span style="cursor: default;" class="fs-display-2 display-block">Play Secret Ma!</span>
    </div>

    <div flex-container="row" flex-align="center">

        <div class="card tc-black-2 mt++ p+">
            <span style="cursor: default;" fs-title display-block>
                The Mother answers our deepest longing. But we are all Ma! So get your Ma on and take a turn at answering the deepest longing of your Friendsgiving <em>Secret Friend</em>.<br/><br/>

                This Secret Ma app will automagically assign you a Secret Friend. Then, all you have to do is identify your Secret Friend's deepest longing and create or buy a gift that answers it. No problem, right?<br/><br/>

                All gifts will remain anonymous, or you could say, polymous because Ma is everywhere and all gifts come from her.  So be sure to wrap your gift and put your Secret Friend's name on it, but not your name.<br/><br/>

                See you at Friendsgiving!
            </span>
        </div>

    </div>

    <div flex-item-align="center" flex-container="row" class="mt+++">
        <span style="cursor: default;" class="fs-display-1 display-block">Find out your <em>Secret Friend</em> by clicking 2 correct coins out of 3</span>
    </div>


    <div flex-item-align="center" class="mt++" user="vm.userToAssign">
        <div coin-component user="vm.user" user-to-assign="vm.userToAssign.name"></div>
    </div>
</div>