body {
    font-family: Raleway;
}

html, body, #container {
    height: 100%;
    background-color: $blue-grey-300;
}

.element::-webkit-scrollbar { width: 0 !important }

// TODO: this is a hack
#login-container {
    height: 75%;
}

#game-container {
    height: 100%;
}

/*.coin {
    background: $yellow-300;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;    
}*/

.circular {
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 200px;
    width: 200px;
    //height:200px;
    border-radius:50%;
    margin:25px;
}

.circular img {
  border-radius:50%;
  transition: transform 0.5s ease;
  transform: scale(0.8);

  .ng-hide-add { animation:0.5s lightSpeedOut ease; }

  .ng-hide-remove { animation:0.5s flipInX ease; }
}

.circular span {
  .ng-hide-add { animation:0.5s lightSpeedOut ease; }

  .ng-hide-remove { animation:0.5s flipInX ease; }
}

.circular img:hover {
  transform: scale(.9);
  /*
  transition: all 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  */
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}
