body {
    font-family: Raleway;
}

html, body, #container {
    height: 100%;
    background-color: $blue-grey-300;
}

.element::-webkit-scrollbar { width: 0 !important }

// TODO: this is a hack
#login-container {
    height: 75%;
}

#game-container {
    height: 100%;
}

.caption {
    position: relative;
    height: 600px;
    overflow: hidden;
    width: 200px;
}
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 25px;
    transition: transform 0.5s ease;
    transform: scale(0.8);

    &:hover {
      transform: scale(.9);
    }
}
.caption__overlay {
    position: absolute;
    font-size: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.caption__overlay.show-it {
    transform: translateY(50%);
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}
